body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  margin: 0;
}

#second-text-container {
  display: flex;
  margin-top: -100px; /* Расстояние между фразами */
}

.text-part {
  margin: 0;
  padding: 0;
}

.text-part canvas,
#first-text canvas {
  height: auto !important;
}
